.sign_up_inner { 
    background: rgba(255, 255, 255, 80%);
}
form{
    width:50%;
    margin: 0 auto;
    .two_input
    {
        justify-content: space-between;
        > input {
            width: 49%;
        }
    } 
    .Sign_up_section > button{
        width: 49%; 
    }
    #create_acc_btn {
        width: 100%;
        margin-top: 13px;   
    }
    .term_condition_section > span {
        padding-left: 5px;
    }
    .otp_input { 
        margin: 0 auto 15px;
    }
}
.form_progress_section {
    position: relative;
    width: 100%;
    &::before, &::after{
        content: '';
        display: block;
        width: 37%;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
    }
    &::before{
        left: 0;
    }
    &::after{
        right: 0
    }
}   


