<div class="sign_up_outer py45 text-center">
    <div class="sign_up_inner w-100">
        <div class="section_header lh1_45 pt40">
            <h1>Create Account</h1>
        </div>
        <div class="section_sub-title regular">
            <h5>We need some basic information to create a ForKeeps Account using 3 easy steps</h5>
        </div>  
        <form action="/action_page.php" class="pt25">
            <fieldset>
                <legend class="pb20">
                    <div class="form_progress_section">
                        <h2>Step <span id="form_step_current">1</span> of <span id="form_step_total">3</span></h2>
                    </div>
                    <h3>Personal Information</h3>
                </legend>
                <div class="d_flex two_input">
                    <input type="text" id="fname" placeholder="First name" name="fname">
                    <input type="text" id="lname" placeholder="Last name" name="lname"> 
                </div>
                <div class="d_flex two_input">
                    <input type="number" name="pnumber" placeholder="Mobile Number" id="pnumber">
                    <input type="date" name="dob" placeholder="Date of Birth" id="dob">
                </div>
                <input type="email" id="email" name="email" placeholder="Email Address">
            </fieldset>
            <fieldset>
                <legend class="pb20">
                    <div class="form_progress_section">
                        <h2>Step <span id="form_step_current">2</span> of <span id="form_step_total">3</span></h2>
                    </div>
                    <h3>Verify your OTP</h3>
                </legend>
                <input type="number" name="otp_input" placeholder="Enter your otp" id="otp_input">
            </fieldset>
            <fieldset>
                <legend class="pb20">
                    <div class="form_progress_section">
                        <h2>Step <span id="form_step_current">3</span> of <span id="form_step_total">3</span></h2>
                    </div>
                    <h3>Choose your password</h3>
                </legend>
                <div class="d_flex two_input">
                    <input type="password" name="password" placeholder="Choose password" id="password">
                    <input type="password" name="confirm_pass" placeholder="Confirm password" id="confirm_pass">
                </div>
                <div class="term_condition_section">
                    <input type="checkbox" name="term_condition" id="term_condition">
                    <span><h5>I accept the <a>term & conditions</a></h5></span>
                </div>
            </fieldset>

            <fieldset> 
                <div class="Sign_up_section d_flex two_input">
                    <button class="button v2 w-50  hidden" id="back_btn">Back</button>
                    <button class="button v1 w-50" id="back_btn">Next</button>
                    <button class="button v1 w-50" id="back_btn">Register</button>
                </div> 
                <button class="button v2 w-100" id="back_btn">Already registered? Sign in</button> 
            </fieldset>
        </form>
 
    </div>
</div>