<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <div class="feature_slider_item">
      <div class="slider_item_tag"><i class="icofont-infinite"></i></div>
      <div class="feature_slider_inner">
        <div class="feature_image bg" style="background: url(../../../assets/home_page/slider_image_1.jpg)"></div>
        <div class="feature_content_box d_flex justify_space-between">
          <div class="text_content w-70">
            <div class="content_heading lh1">
              <h2>Create a Digital Photo Album</h2>
            </div>
            <div class="lh1_25 pt10">
              <p>Create your 1st Album for FREE and thereafter for only $4.99 $19.99 per album</p>
            </div>
          </div>
          <div class="feature_button button v2 w-25">
            <button class="w-100">Creat Now</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="feature_slider_item">
      <div class="slider_item_tag"><i class="icofont-infinite"></i></div>
      <div class="feature_slider_inner">
        <div class="feature_image bg" style="background: url(../../../assets/home_page/slider_image_2.jpg)"></div>
        <div class="feature_content_box d_flex justify_space-between">
          <div class="text_content w-70">
            <div class="content_heading lh1">
              <h2>Create an AfterLife Message</h2>
            </div>
            <div class="lh1_25 pt10">
              <p>Create your 1st Message for FREE or select a pricing plan to suit your needs</p>
            </div>
          </div>
          <div class="feature_button button v2 w-25">
            <button class="w-100">Creat Now</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="feature_slider_item">
      <div class="slider_item_tag"><i class="icofont-infinite"></i></div>
      <div class="feature_slider_inner">
        <div class="feature_image bg" style="background: url(../../../assets/home_page/slider_image_3.jpg)"></div>
        <div class="feature_content_box d_flex justify_space-between">
          <div class="text_content w-70">
            <div class="content_heading lh1">
              <h2>App Explainer Video</h2>
            </div>
            <div class="lh1_25 pt10">
              <p>See what the App is all about and how you can save your memories forever</p>
            </div>
          </div>
          <div class="feature_button button v2 w-25">
            <button class="w-100">Play Now</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</owl-carousel-o>
