<div class="get_started_outer d_flex py45 text-center">
    <div class="get_started_inner">
        <div class="section_header lh1_45">
            <h1>What is ForKeeps</h1>
        </div>
        <div class="section_sub-title regular">
            <h3>Play our 2 minute video explaining what ForKeeps is all about.</h3>
        </div>
        <div class="video_popup-section pt80">
            <div class="video-btn">
                <span class=" play_button"><i class="icofont-ui-play"></i></span>
            </div>
            <h5 class="medium">Play now</h5>
        </div>
        <div class="action_buttons pt90">
            <div class="button_outer medium button v1">
                <button routerLink="/sign-up" routerLinkActive="active">Get Started</button>
            </div>
            <div class="button_outer medium button v2">
                <button routerLink="/login" routerLinkActive="active">Sign in</button>
            </div>
        </div>
    </div>
</div>