<div class="log_in_outer py45 text-center d_flex">
    <div class="log_in_inner w-100 pb100">
        <div class="section_heading">
            <h1>Login</h1>
        </div>
        <div class="login_from_outer pt45">
            <form action="" class="login_form">
                <fieldset>
                    <input type="email" placeholder="Username or email*" class="email_input">
                    <input type="password" placeholder="Password*" class="password_input">
                </fieldset>
                <fieldset class="login_btn_field">
                    <button class="login_btn button v1">Sign in</button>
                </fieldset>
            </form>
        </div>

        <div class="forgott_pass">
            <a href="javascript:;" class="forgott_pass_link">Forgot Password?</a>
        </div>

        <div class="new_registration pt10">
            <h6>Don’t have an account? <a href="javascript:;" class="new_registration_link" routerLink="/sign-up" routerLinkActive="active">Create an Account</a></h6>
        </div>

        <div class="about_app text-center pt55">
            <h6 class="about_app_inner">ForKeeps has expanded its Digital Photo Album range to include Birthday, Anniversary and Custom Albums.</h6>
        </div>
    </div>
</div>