<div class="global_footer py45 ">
  <div class="container">
    <div class="footer_inner">
      <div class="two_col footer_buttons_outer d_flex justify_space-between">
        <div class="left_side_footer one_of_two_footer_btn d_flex justify_space-between">
          <div class="footer_button  ">
            <span class="button_icon"><i class="icofont-paper-plane"></i></span>
            <span class="button_text">Afterlife Message</span>
          </div>
          <div class="footer_button  ">
            <span class="button_icon"><i class="icofont-infinite"></i></span>
            <span class="button_text">Digital Photo Album</span>
          </div>
        </div>
        <div class="right_side_footer one_of_two_footer_btn d_flex justify_space-between">
          <div class="footer_button">
            <span class="button_icon"><i class="icofont-alarm"></i></span>
            <span class="button_text">Alert</span>
          </div>
          <div class="footer_button">
            <span class="button_icon"><i class="icofont-ui-user"></i></span>
            <span class="button_text">My Profile</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
