<div class="feture_buttons two_col_feature d_flex justify_space-between">
    <div class="feature_box">
      <button>
        <div class="feture_box_inner">
          <div class="feature_box_image bg" style="background: url(../../../assets/home_page/feature_1.jpg)"></div>
          <span class="box_inner_icon"><i class="icofont-infinite"></i></span>
          <span class="box_inner_text font14 lh1_5 medium">Search Albums</span>
        </div>
      </button>
    </div>
    <div class="feature_box">
        <button>
          <div class="feture_box_inner">
            <div class="feature_box_image bg" style="background: url(../../../assets/home_page/feature_1.jpg)"></div>
            <span class="box_inner_icon"><i class="icofont-infinite"></i></span>
            <span class="box_inner_text font14 lh1_5 medium">Search Albums</span>
          </div>
        </button>
      </div>
  </div>