.feature_box{
    width: 49%;
    position: relative;
    button{ 
        width: 100%;
        padding: 0;
        border: 0;
        border-radius: 5px;
        overflow: hidden;
        background: #fff;
        box-shadow: 0 5px 10px 0 rgba(0,0,0,.16);
        cursor: pointer;
        transition: all ease 0.2s;
        -moz-transition: all ease 0.2s;
        -webkit-transition: all ease 0.2s;
        outline: none;
        &:hover{
            transform: scale(1.02);
            -moz-transform: scale(1.02);
            -webkit-transform: scale(1.02);
        }
        &:focus {
            transform: scale(0.98);
            -moz-transform: scale(0.98);
            -webkit-transform: scale(0.98);
        }
        .feature_box_image { 
            width: 152x;
            height: 138px;
        }
        .box_inner_icon { 
            display: block;
            width: 35px; 
            margin: 0 auto; 
            height: 35px;
            line-height: 35px;
            border-radius:50%;
            font-size: 16px;
            color: #fff; 
            text-align: center; 
            margin-top: -17.5px;
            position: relative; 
        }
        .box_inner_text {
            display: block;  
            padding: 10px;
        }
    }
    
 }


