<div class="manuWrapper">
    <div class="menuButton">
        <div class="hamburgBtnOuter" id="hamburdBtn" (click)="myClickFunction()">
            <div class="hamburgBtnInner"></div>
            <div class="hamburgBtnInner"></div>
            <div class="hamburgBtnInner"></div>
        </div>
        <div class="navigationLinks" id="mainMenu">
            <div class="navListInner">
                <div class="loginButton">
                    <div>
                        <a href="javascript:;">
                            <span class="icon"><i class="icofont-login"></i></span>
                            <span>Login</span>
                        </a>
                    </div>
                </div>
                <!-- <div class="closeBtn" >
                    <span><i class="icofont-close" (click)="myClickFunction()"></i></span>
                </div> -->
                <ul>
                    <li (click)="active = !active" [ngClass]="toggleClass()">
                        <div class="menuItemParent">
                            <a href="javscript:;" class="firstLevel">
                                <span class="icon"><i class="icofont-home"></i></span>
                                <span>Home</span>
                            </a>
                            <span class="childExpand">
                                <span class="icon ionicIcons byDefault"><i class="icofont-rounded-down"></i></span>
                            </span> 
                        </div>
                        <ul class="subNavigation">
                            <li>
                                <a href="javascript:;">
                                    <span>About ForKeeps</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <span>About ForKeeps</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li (click)="active = !active" [ngClass]="toggleClass()">
                        <div class="menuItemParent">
                            <a href="javscript:;" class="firstLevel">
                                <span class="icon"><i class="icofont-home"></i></span>
                                <span>Home</span>
                            </a>
                            <span class="childExpand">
                                <span class="icon ionicIcons byDefault"><i class="icofont-rounded-down"></i></span>
                            </span> 
                        </div>
                        <ul class="subNavigation">
                            <li>
                                <a href="javascript:;">
                                    <span>About ForKeeps</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <span>About ForKeeps</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li (click)="active = !active" [ngClass]="toggleClass()">
                        <div class="menuItemParent">
                            <a href="javscript:;" class="firstLevel">
                                <span class="icon"><i class="icofont-home"></i></span>
                                <span>Home</span>
                            </a>
                            <span class="childExpand">
                                <span class="icon ionicIcons byDefault"><i class="icofont-rounded-down"></i></span>
                            </span> 
                        </div>
                        <ul class="subNavigation">
                            <li>
                                <a href="javascript:;">
                                    <span>About ForKeeps</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <span>About ForKeeps</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li (click)="active = !active" [ngClass]="toggleClass()">
                        <div class="menuItemParent">
                            <a href="javscript:;" class="firstLevel">
                                <span class="icon"><i class="icofont-home"></i></span>
                                <span>Home</span>
                            </a>
                            <span class="childExpand">
                                <span class="icon ionicIcons byDefault"><i class="icofont-rounded-down"></i></span>
                            </span> 
                        </div>
                        <ul class="subNavigation">
                            <li>
                                <a href="javascript:;">
                                    <span>About ForKeeps</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <span>About ForKeeps</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li (click)="active = !active" [ngClass]="toggleClass()">
                        <div class="menuItemParent">
                            <a href="javscript:;" class="firstLevel">
                                <span class="icon"><i class="icofont-home"></i></span>
                                <span>Home</span>
                            </a>
                            <span class="childExpand">
                                <span class="icon ionicIcons byDefault"><i class="icofont-rounded-down"></i></span>
                            </span> 
                        </div>
                        <ul class="subNavigation">
                            <li>
                                <a href="javascript:;">
                                    <span>About ForKeeps</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <span>About ForKeeps</span>
                                </a>
                            </li>
                        </ul>
                    </li>    
                </ul>
            </div> 
        </div>
    </div>
</div> 