<div class="manuWrapper">
    <div class="menuButton">
        <div class="hamburgBtnOuter" (click)="myClickFunction($event)">
            <div class="hamburgBtnInner"></div>
            <div class="hamburgBtnInner"></div>
            <div class="hamburgBtnInner"></div>
        </div>
        <div class="navigationLinks">
            <a href="javascrip:;"></a>
            <div class="loginButton">
                <div>
                    <a href="javascript:;">
                        <span class="icon"></span>
                        <span>Login</span>
                    </a>
                </div>
            </div>
            <ul>
                <li>
                    <div class="menuItemParent">
                        <a href="javscript:;" class="firstLevel">
                            <span class="icon"></span>
                            <span>About</span>
                        </a>
                        <a href="javascript:;" class="childExpand">
                            <span class="icon ionicIcons byDefault"></span>
                            <span class="icon ionicIcons whenOpened"></span>
                        </a>
                        <ul class="subNavigation">
                            <li>
                                <a href="javascript:;">
                                    <span>About ForKeeps</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    
                </li>
            </ul>
        </div>
    </div>
</div>