 .home_page_two_col {
   > div {
     background: #fff;
     padding: 26px 20px;
     border-radius: 4px ;
     height: 100%;
     box-shadow: 0 10px 10px 0 rgba(0,0,0,.16);
     -webkit-box-shadow: 0 10px 10px 0 rgba(0,0,0,.16);
     -moz-box-shadow: 0 10px 10px 0 rgba(0,0,0,.16);
   }
   .home_page_slider { 
     padding: 25px 15px;
   }
 } 

 @media (max-width: 991px){
    .home_page_outer {
      padding-bottom: 80px;
    .home_page_two_col { 
         flex-wrap: wrap;
         > div { width: 100% !important; }
         > div + div { margin-top: 30px;}
     }
    }
 }

 @media (max-width: 767px){
  .home_page_outer {
    padding-bottom: 95px;  
    .user_message {
      flex-wrap: wrap;
  
      > span {
        width: 100% !important;
      }
      > span + span  { 
          padding-top: 5px;
      }
    }
  }
 }