<section class="bodyHeader">
    <div class="container">
        <div class="bodyHeaderInner ">
            <div class="userProfile ib">
                <div class="userProfileInner d_flex justify_flex-start">
                    <div class="profileImage">
                        <img src="../../../assets/bodyHeader/Group 530.png" alt="">
                    </div>
                    <div class="userDetail">
                        <div class="userName">
                            <h3>Clint Hendricks</h3>
                        </div>
                        <div class="userAdress d_flex justify_flex-start">
                            <span><i class="icofont-location-arrow"></i></span>
                            <span><p>Cape Town, South Africa</p></span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="header_logo ib">
                <a href="#">
                    <img src="../../../assets/header_image/headerLogo.png" alt="">
                </a>
            </div>
        </div>
    </div>
</section>
