 .bodyHeader {
    padding: 50px 45px 35px;
}

.header_logo {
    max-width: 200px;
}
.userProfile { 
    width: calc( 50% - 100px );
    .userProfileInner > div + div {
        padding-left: 7px ;
    }
}
 
.userAdress {
    & > span + span { 
        padding-left: 5px;
    }
    p {
    margin: 0;
    }
} 

.profileImage {
    width: 42px;
    height: 42px;
    background: #fff;
    padding: 4px;
    border-radius: 10px;
}