<section class="bodyHeader"> 
        <div class="bodyHeaderInner ">
            <div class="userProfile ib">
                <div class="userProfileInner d_flex justify_flex-start">
                    <div class="profileImage">
                        <img src="../../../assets/bodyHeader/Group 530.png" alt="">
                    </div>
                    <div class="userDetail">
                        <div class="userName bold">
                            <h4>Clint Hendricks</h4>
                        </div>
                        <div class="userAdress d_flex justify_flex-start font12">
                            <span><i class="icofont-location-arrow"></i></span>
                            <span class="font12"><p>Cape Town, South Africa</p></span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="header_logo ib">
                <a href="javascript:;" routerLink='home'>
                    <img src="../../../assets/header_image/headerLogo.png" alt="">
                </a>
            </div>
        </div> 
</section>
